
<div class="nav-item" [routerLink]='["/"]' [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
  <div>
    Home
  </div>
</div>
<div class="nav-item" [routerLink]='["/clusters"]' [routerLinkActive]='["active"]'>
  <div>
    Clusters
  </div>
</div>
<div class="nav-item" [routerLink]='["/class-list"]' [routerLinkActive]='["active"]'>
  <div>
    Classes
  </div>
</div>
<div class="nav-item" [routerLink]='["/login"]' [routerLinkActive]='["active"]'>
  <div>
    Login
  </div>
</div>
